# Força a deteção de todos os ficheiros dentro das pastas css e js
css/* linguist-detectable=true
js/* linguist-detectable=true

# Desativa a filtragem de código gerado/minificado nestas pastas
css/* linguist-vendored=false
js/* linguist-vendored=false

# Opcional: esconde o README e o próprio gitattributes para dar mais peso ao resto
README.md linguist-documentation
.gitattributes linguist-documentation