# Força a associação direta das pastas e ficheiros às suas respetivas linguagens
js/*.js linguist-language=JavaScript
css/*.css linguist-language=CSS

# Garante que ficheiros minificados não sejam ignorados
*.min.js linguist-vendored=false
*.min.css linguist-vendored=false

# Ignora o ficheiro de texto rascunho da contagem de estatísticas
js/script.txt linguist-vendored=true